*.class
/Net Beans/Busca minas NB/nbproject/private/
/Net Beans/Busca minas NB/build/
/Net Beans/Registro usuarios/Registro usuarios/nbproject/private/
/Net Beans/Registro usuarios/Registro usuarios/build/
